<h1 class="newh1">Search results for</h1>
<h2 class="newh2">{{SearchedTerms}}</h2>
<div class="secondContainer">
  {{#each artists}}
    <div class="artist-card">
      {{#if images}}
        {{#each images}}
          {{#if @first}}
            <img src="{{this.url}}" alt="" />
          {{/if}}
        {{/each}}
      {{else}}
        <img src="/images/default-blank.png" alt="" />
      {{/if}}
      <h1 class="newh1">{{name}}</h1>
      <ul>
        <li>Followers: <span>{{followers.total}}</span></li>
        <li>Popularity: <span>{{popularity}}</span></li>
      </ul>
      <a href="/albums/{{id}}"><button class="secondary-btn">View albums</button></a>
    </div>
  {{/each}}
</div>